<?xml version="1.0"?>
<!--
/**
 * Webkul_Grid Menu
 *
 * @category    Webkul
 * @package     Webkul_Grid
 * @author      Webkul Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kellton_FinalAssessment::member" title="Final Assessment Grid" module="Kellton_FinalAssessment" sortOrder="10" resource="Kellton_FinalAssessment::member"/>
        <add id="Kellton_FinalAssessment::add_new_row" title="Final Assessment Grid" module="Kellton_FinalAssessment" sortOrder="20" parent="Kellton_FinalAssessment::member" action="finalgrid/grid" resource="Kellton_FinalAssessment::add_new_row"/>
    </menu>
</config>