<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
      <tab id="Custom_Final_Assessment" translate="label" sortOrder="120">
            <label>Custom Final Assessment</label>
      </tab>
        <section id="Firstsectiondata" translate="label" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1"  >
            <label>Kellton Section</label>
            <tab>Custom_Final_Assessment</tab>
            <resource>Kellton_FinalAssessment::parent</resource>
            <group id="Firstgroupdata" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Kellton Group</label>
                <field id="Firstfielddata" showInWebsite="1" showInStore="1" showInDefault="1" translate="label"
                type="text" sortOrder="100" >
                <label>Review Product Heading</label>
                </field>
                <field id="Secondfielddata" showInWebsite="1" showInStore="1" showInDefault="1" translate="label"
                type="select" sortOrder="100" >
                <label>Setting</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
              
            </group>
         </section>
    </system>
</config>